/* Table of content */

html,body{
    height: 100%;
}
.bg-alpha{
    background: rgba(0, 0,0, 0.5)
}
.carousel, .carousel-inner, .carousel-item, .carousel-inner .active{
    height: 100%;
}
.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.carousel-caption{
    top: 40%;
}
.back-screen{
    background: rgba(0, 0,0, 0.5);
    height: 100%;
}
.boarder-short-bottom{
    position: relative;
    padding: 20px 0;
    margin-bottom: 25px;
}
.boarder-short-bottom:after{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background:gray;
    
}
.wrapper-card-img{
    position: relative;
    /* 16:9 ratio*/
    padding-top: 56.25%;
    overflow: hidden;

}
.wrapper-card-img img{
    position: absolute;
    top: 0;
    transition: 1s;
}
.wrapper-card-img img:hover{
    transform: scale(1.1)
}
.semi-footer{
    background: #313131;
    color: aliceblue;
}
.semi-footer a{
    color: aliceblue;
}
.semi-footer h4{
    color: aliceblue;
    border-bottom: 1px solid;
    padding: 10px 0;
}
.footer{
    background: black;
    color: aliceblue;
    font-size: 0.8rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
}
#map{
    height: 200px;
    width:100%;
}